/* 
    Document   : style
    Created on : 09/04/2012, 11:35:41 PM
    Author     : Anyul Rivas
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background: url('../img/wallpaper_wood_76889.png') repeat-x black;
    background-size: auto 100%;
}
.hero-unit{
    background: url('../img/wallpaper_wood_76889.png') repeat-x black;
    color: white;
    text-shadow: 2px 2px 3px gray;
}
.hero-unit h1{
    margin-bottom: 10px;
}
footer{
    text-align: center;
    color: #e0e0e0;
}
label{
    text-transform: capitalize;
}
.table thead th{
    text-transform: capitalize;
}
ul.breadcrumb li a{
    text-transform: capitalize;
}
#myModal{
    display: none;
}
tfoot label.help-inline{
    font-size: x-small;
    color:red;
}
.row-fluid > .span3 .well{
    background-color: rgba(245, 245, 245, 0.8);
}
.row-fluid > .span9 {
    
}
td.form-inline label.help-inline{
    color: red;
    font-size: x-small;
}
[class^="menu-"],
[class*=" menu-"]{
    padding-left: 40px;
    background-position: 0 10px;
    background-repeat: no-repeat;
}
.menu-cliente {
    background-image: url("../img/clientes.png");
    
}
.menu-producto {
    background-image: url("../img/productos.png");
    
}
.menu-pedido {
    background-image: url("../img/pedidos.png");
}
.menu-usuario {
    background-image: url("../img/usuarios.png");
}
.menu-factura {
    background-image: url("../img/facturas.png");
}
.menu-transporte {
    background-image: url("../img/transportes.png");
}
.menu-despacho {
    background-image: url("../img/despachos.png");
}
.container-fluid .span2{
    width: 150px;
}