{# Barra de Navegacion #}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">LiderPlus</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li><a href="#about">Acerca</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
            {% if session.usuario is not defined %}
            <form class="navbar-form pull-right" method="post" action="{{ constant('ROOT')}}login.php">
                <input name="login" type="text" class="input-small" placeholder="Login"/>
                <input name="password" type="password" class="input-small" placeholder="Password"/>
                <input name="submit" type="submit" class="btn" value="Login"/>
            </form>
            {% else %}
            <div class="pull-right">
                <span class="navbar-text"> Bienvenido(a) <a href="{{constant('URL_SISTEMA')}}/usuario">{{ session.usuario.login }}</a></span>
            </div>
            {% endif %}
        </div>
    </div>
</div>


