{# indice #}
{% extends 'layout/fluid.html.twig'%}
{% block titulo 'Inicio'%}
{% block contenido %}
<div class="row">
    <div class="hero-unit">
        <h1>Bienvenido a LiderPlus</h1>
        <p>Ultimo acceso el d&iacute;a 07/04/2012.</p>
        <p><a class="btn btn-primary btn-large">Modificar Perfil</a></p>
    </div>
        <div class="well-small">
        <h1>Modulos Disponibles</h1>
        <p>Por favor inicie sesi&oacute;n para ingresar al sistema.</p>
    </div>
</div>
{% endblock %}