/* 
    Document   : style
    Created on : 09/04/2012, 11:35:41 PM
    Author     : Anyul Rivas
    Description:
        Purpose of the stylesheet follows.
*/

footer{
    text-align: center;
}
label{
    text-transform: capitalize;
}
.table thead th{
    text-transform: capitalize;
}
